@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Cinzel", serif;
}

:root {
 background-color: rgb(126, 85, 63);
}

h1 {
  font-size: 4.4rem;
  color: white;
}

h2 {
  font-size:2.5rem;
  margin-bottom: 4rem;
}

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(5, 4, 17);
  background: linear-gradient(90deg, rgb(15, 91, 255) 0%,rgb(0,102,155)100%);
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(0,114,244,0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: linear-gradient(90deg, rgb(215, 110, 19) 0%,rgb(255, 154, 45)100%)
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(211, 158, 12, 0.5);
}

.fa-crown {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow:  0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5s);
}

input::placeholder {
  color:#aaa;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}

@media screen and (max-width: 768px) {
  .choice-container {
      min-width: 40rem;
  }
}
